* {
    margin: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Roboto', sans-serif;
}



.title_nav{
    text-align: center;
    height:200px;
    padding-top: 60px;
    background-color: #ffa502;
    color: #fff;
}


/* Styling Menu bar */
.menu_div{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


#navLinks{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    background-color: #2f3542;
    height: 50px;

}

/* Styling MENU links */

#navLinks li{
    list-style-type: none;
}

#navLinks li a {
    color:#b2bec3;
    text-decoration: none;
    padding: 16px;
}

#navLinks li a:hover {
    color:#fff;
}



/* ------ FOOTER ------- */

.page-footer{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    position: relative;
    bottom: 0;
    height: 50px;
    border-top: 1px solid #ff6348;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.page-footer img{
    width: 3%;
    margin: 0 10px;
    
}

.page-footer p{
    font-size: 0.8em;
    color: #7e99c9;
    flex-grow: 100;
    
}