@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
  position: relative;
  overflow-y: scroll;
}

.navbarBox{
  background-color:#2f3542;
}

.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link {
  background-color:#000;
}

.paragraph-holder{
  margin-left: 10rem;
}

.about-me-container{
  background-color:#130f40;
}